.viewer {
  &__header, &__footer {
    background: $color--fade-main;
    color: $color--light-main;
    ul {
      @extend %plain-list;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      margin: 0 5px;
      width: 22px;
      height: 22px;
      display: flex;
      justify-content: flex-end;
      border-radius: 2px;
      background-color: $color--light-gray;
      border: $color--main 1px solid;
    }
  }
  &__header {
    position: relative;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 18px;
      margin: 0 auto 0 0;
    }
    h1 a {
      color: $color--fade-light-main;
      text-decoration: none;
    }
    ul {
      margin-right: 5px;
    }
  }
  &__header-menu {
    margin-right: 10px;
    .menu-toggle {
      margin: 0;
      background: transparent;
      border: none;
      height: 36px;
      width: 36px;
      padding: 5px;
      border-radius: 0;
      transition: background .1s ease-in;
    }
    .menu-toggle:hover, &.opened .menu-toggle {
      background: $color--fade-dark-main;
    }
    nav {
      display: none;
      background: $color--fade-dark-main;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
    }
    &.opened nav {
      display: block;
    }
    ul {
      width: 200px;
      flex-direction: column;
      align-items: stretch;
      margin: 0;
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 5px 10px;
      flex-grow: 1;
      &:hover {
        background: $color--gray-main;
      }
    }
  }
  &__content {
    position: relative;
    flex-grow: 1;
    background-color: $color--light-main;
  }
  &__footer {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      margin-left: 10px;
    }
  }
  &__loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($color--light-main,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      background: url('../images/icons/loading.svg');
      width: 64px;
      height: 64px;
    }
  }
  &__goto-page {
    display: flex;
    align-items: center;
    input[type=number] {
      width: 50px;
      border-radius: 2px;
      height: 22px;
      line-height: 22px;
      padding: 0 5px;
      color: $color--fade-dark-main;
      margin-left: 5px;
      border: $color--main 1px solid;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
    button {
      width: auto;
      padding: 1px 7px 0;
      border-radius: 20px;
    }
  }
}